@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,400,500,600,700|Great+Vibes|Raleway|Dancing+Script&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.recipe_image {
  max-height: 700px;
}
 


.custom-select {
  font-size: 15px;
  margin-top: 5px;
}
#form-bg {
  background-image: url("/static/img/breadcumb3.jpg");
}
#search_heading{
    margin: 10px;
}
.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; }
  .bg-overlay::after {
    background-color: rgba(10, 12, 18, 0.55);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; 
    }
.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; 
  }

.breadcumb-area {
  position: relative;
  z-index: 10;
  width: 92%;
  height: 190px;
  margin-left: 4%;
  margin-right: 4%; }
  @media only screen and (max-width: 767px) {
    .breadcumb-area {
      height: 120px; } }
  .breadcumb-area .breadcumb-text h2 {
    font-size: 30px;
    margin-bottom: 0;
    color: #ffffff; }
    @media only screen and (max-width: 767px) {
      .breadcumb-area .breadcumb-text h2 {
        font-size: 24px; } }

.recipe-btn{
    width: 65px;
    margin: 5px;
}
 .recipe-btn-edit{
     color: whitesmoke;
     background: #00006b;
 }
 .recipe-btn-delete{
     color: whitesmoke;
     background: #b50000;
 }
 /**.card-img-top{
     min-height: 500px;
 }**/
.bg_cl {
  background-color: #292c33;
  color: whitesmoke;
}
a {
  color: darkslateblue;
}
.btn:hover {
  color: wheat!important;
}

#search_btn{
    color: antiquewhite;
}
.cookware_headings{
    font-size: 16px;
}
#height-con{
    min-height: 670px;
}
#footer {
  margin-top: 10px;
}

.footer-link a {
    text-decoration: none;
    color: whitesmoke;
   
}
 .social-links li a i { 
   
    width: 30px;
    height:30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: antiquewhite;
    background-color: #292c33;
    transition: all .40s ease-in-out;
    -webkit-transition: all .40s ease-in-out;
    -moz-transition: all .40s ease-in-out;
    -o-transition: all .40s ease-in-out;

}
.social-links li a i:hover{
    background-color: darkslateblue;
} 
a.contact-link{
    margin-bottom: 5%;
    color: antiquewhite;
}
a.contact-link :hover{
    color: wheat;  
 }

 .footer-contact{
     text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    margin: 20px;

 }


 
 .social-heading{
     margin-left: 10%;
 }

 


