{% extends 'base.html' %} {% block content %}
     <div class="receipe-post-area">
       <!-- Receipe Slider -->
       
        <div class="container">
            <div class="row">
             <div class="col-lg-3">
    
            <div class="list-group">
               <a href="{{url_for('desert')}}" class="list-group-item">Deserts</a>
              <a href="{{url_for('main_dishes')}}" class="list-group-item">Main Dishes</a>
              <a href="{{url_for('drinks')}}" class="list-group-item">Drinks</a>
            </div>
            
          </div>
                <div class="col-5">
                    <div class="receipe-slider owl-carousel">
                        <img class="recipe_image img-thumbnail" src="{{recipes.recipe_image|safe}}" alt="">
                    </div>
                    
                </div>
                <div class="col-lg-3">
    
            <div class="list-group">
              <p class="list-group-item">Prep time: {{recipes.prep_time|safe}}</p>
              <p class="list-group-item">Cook time: {{recipes.cook_time|safe}}</p>
              <p class="list-group-item">servings: {{recipes.servings|safe}}</p>
            </div>
            
          </div>
            </div>
        </div>
       <div class="container">
       
        <div class="receipe-content-area">
         <div class="row">
                 <div class="col-8">
                    <a href="{{url_for('edit_recipe', recipe_id=recipes._id)}}" onClick="check()" class="btn btn-primary">edit</a>
                 </div>
                 <div class="col-3">
                   <a href="{{url_for('delete_recipe', recipe_id=recipes._id)}}"  class="btn btn-primary">delete</a>
                 </div>
              </div>
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span></span>
                            <h2>{{recipes.recipe_title|safe}}</h2>
                            
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <h4>Steps</h4>
                        <div class="single-preparation-step d-flex">
                          <p>{{recipes.steps|safe}}</p>
                        </div>
                   
                    </div>
                  
                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredients</h4>

                            <!-- Custom Checkbox -->
                            <div class="">
                                
                                <p> {{recipes.ingredients|safe}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
      </div>
     </div>
<script src="/static/js/main.js"></script>
{% endblock %}

