{% extends 'base.html' %} {% block content %}
    {% with messages = get_flashed_messages() %}
             {% if messages %}
                {%for msg in messages%}
                   <p>{{msg}}</p>
                {% endfor%}
              {% endif %}
        {% endwith %}
<form action="{{url_for('login')}}" method="POST">
  <div class="form-group">
    <label for="recipe_owner">Login</label>
    <input type="text" class="form-control" id="recipe_owner" name="recipe_owner" aria-describedby="">
    <small id="emailHelp" class="form-text text-muted">If you've not registered click <a href="#">signup</a></small>
  </div>
   {% for u in user%}
     {{u.recipe_owner_name}}
   {% endfor %}

   <button type="submit" class="btn btn-primary">
     login
    </button>
</form>
{% endblock %}