{% extends 'base.html' %} {% block content %}
  
    {% with messages = get_flashed_messages() %}
             {% if messages %}
                {%for msg in messages%}
                   <p>{{msg}}</p>
                {% endfor%}
              {% endif %}
        {% endwith %}

<form action="{{url_for('register')}}" method="POST">
  <div class="form-group">
    <label for="recipe_owner">signup</label>
    <input type="text" class="form-control" id="recipe_owner" name="recipe_owner" aria-describedby="">
    <small id="emailHelp" class="form-text text-muted">already registered? <a href="#">login</a></small>
  </div>
  
  
  <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}

